/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 120ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #030303;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

img.me {
  display: block;
  border-radius: 4px;
  margin: auto;
}

.text-start {
  font-weight: 600;
}

.debug {
  border: 1px solid red;
}

.text {
  padding: 1em;
  text-align: justify;
}

.link-container {
  margin: 0.2em;
}

.link-description {
  font-size: 14px;
}

img.companyLogo {
  width: 96px;
}

img.hacker {
  width: 96px;
}

div.twocell {
  padding: 0.5em;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}

div.part {
  display: flex;
  align-self: center;
}

span.period {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
}

span.experience {
  clear: both;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}

span.highlight {
  color: coral;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  gap: 0.5em;
}

.flex-item {
  flex: 1;
  align-self: center;
  border: 1px solid black;
}

.skill {
  font-size: 15px;
  font-weight: 500;
}

.nav-item {
  padding: 4px;
}

.nav-container {
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1efec;
}

.text-justify {
  text-align: left;
  font-size: medium;
}
