---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Education from "../components/education/Education";
import Services from "../components/services/Services";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Certification from "../components/certification/Certification";
import Testimonials from "../components/testimonials/Testimonials";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div>
        <img class="me" src="/assets/rozaydin.jpeg" />
        <span class="text-start">Merhaba!</span>
      </div>

      <p class="text" style="text-align: justify;">
        I’m a software developer, with deep expertise in end-to-end software
        design and development. I specialize in building high-performance,
        scalable applications using Java, Node.js, and Go. Over the years, I’ve
        delivered complex, tailor-made solutions for clients in the energy,
        telecommunications, IoT, and blockchain sectors.
      </p>

      <p>
        I'm availabe for hire (send an email):
        <a href="mailto:ridvan.ozaydin@ridvanozaydin.com" target="_blank">
          <img src="./assets/hireme.png" style="height: 32px;" />
        </a>
      </p>

      <p>
        If you prefer, hire me through:

        <a
          href="https://talent.toptal.com/resume/developers/ridvan-ozaydin"
          target="_blank"
        >
          <img src="./assets/toptal.avif" style="height: 24px;" />
        </a>
      </p>

      <Services />

      <Certification />

      <Testimonials />

      <Education />

      <Footer />
    </main>
  </body>
</html>
