---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Education from "../components/education/Education";
import Services from "../components/services/Services";
import Links from "../components/links/Links";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Certification from "../components/certification/Certification";
import Testimonials from "../components/testimonials/Testimonials";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div>
        <img class="me" src="/assets/rozaydin.jpeg" />
        <span class="text-start">Merhaba!</span>
      </div>

      <p class="text" style="text-align: justify;">
        I’m a software developer based in Istanbul, Türkiye, with deep expertise
        in end-to-end software design and development. I specialize in building
        high-performance, scalable applications using Java, Node.js, and Go.
        Over the years, I’ve delivered complex, tailor-made solutions for
        clients in the energy, telecommunications, IoT, and blockchain sectors.
      </p>

      <p>
        You can view my portfolio from here: <a
          href="https://talent.toptal.com/resume/developers/ridvan-ozaydin"
          target="_blank"
        >
          <img src="./assets/toptal.avif" style="width: 96px;" />
        </a>
      </p>

      <Services />

      <Testimonials />

      <Certification />

      <Education />

      <Footer />
    </main>
  </body>
</html>
