---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PortfolioTable from "../components/portfolio/Portfolio";
import projects from "../data/projects.json";
import CookieConsent from "../components/CookieConsent.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen">
    <div class="max-w-content mx-auto px-6">
      <Header />
      <main>
        <PortfolioTable projects={projects} />
      </main>
      <Footer />
    </div>
    <CookieConsent />
  </body>
</html>
