---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
      <Header title={SITE_TITLE} />

      <h1>Privacy Policy</h1>      

      <p>
        This Application (Pratikafa) does not collect, store or infer any type of personal data. This application does not interact with any third party service
        to leak your personal information.
      </p>

      <h2>What Information Do we collect ?</h2>

      <p>
        Pratikafa does not collect any personal information or connect to the internet. This application exist solely on your device. 
      </p>

      <h2>Contact</h2>

      <p>
        If you have any questions or concerns, please feel free to <a href="mailto:ridvanozaydin@gmail.com">contact me</a>.
      </p>

      <Footer/>
    </body>
</html>