---
const today = new Date();
---

<footer class="mt-20 py-8 border-t border-gray-100">
  <p class="text-center text-sm text-gray-400">
    &copy; {today.getFullYear()} Rıdvan Özaydın. All rights reserved.
  </p>
</footer>
